include _mixins

#Pages

	#Home.page(data-id="Home")
		#Wrapper-Logo.wrapper
			#Logo
			a.scrollDown(href="#"+public.data.pages[0].slug)
				i.icon-angle-down

	for page in public.data.pages
		- var id = page.slug
		.page(id=id,data-id=id)
			if page.title
				div(class="wrapper-title", id="Wrapper-Title-"+id)
					h1(class="title", name=id, id="Title-"+id)=page.title
			.wrapper(id="Wrapper-"+id)
				for section in page.sections
					+section(section)

#Navigation.menu-container
	a#Menu-Revealer
		i.icon-ellipsis-vertical
	#Menu.wrapper.wrapper-menu
		.menu
			a#Home-Link.menu-link(href="#Home")
				i.icon-fixed-width.icon-home
			for page in public.data.pages
				unless page.skip
					a.menu-link(href="#"+page.slug,id=page.slug+"-Link")
						if page.icon
							i.icon-fixed-width(class=page.icon)
						= page.title
