include _mixins

#Pages

	#Home.page(data-id="Home")
		#Wrapper-Logo.wrapper
			#Logo.logo
			a.scrollDown(href="#"+public.data.pages[0].slug)
				i.fa.fa-angle-down

	for page in public.data.pages
		- var id = page.slug
		.page(id=id,data-id=id,class=(page.special? page.special:''))
			if page.title
				div(class="wrapper-title", id="Wrapper-Title-"+id)
					h1(class="title", name=id, id="Title-"+id)
						i.fa.fa-fixed-width(class="fa-"+page.icon)
						= page.title
			.wrapper(id="Wrapper-"+id)
				for section in page.sections
					+section(section)

#Navigation.menu-container
	a#Menu-Revealer
		i.fa.fa-ellipsis-vertical
	#Menu.wrapper.wrapper-menu
		.menu-logo-wrapper
			.logo
		.menu
			a#Home-Link.menu-link.active(href="#Home")
				i.fa.fa-fixed-width.fa-home
				span home
			for page in public.data.pages
				unless page.skip
					a.menu-link(href="#"+page.slug,id=page.slug+"-Link")
						if page.icon
							i.fa.fa-fixed-width(class="fa-"+page.icon)
						span= page.menuTitle || page.title
